<% thinkData.forEach(think=> { %>
    <div class="thinkingFlex thinkingFlexLight">
        <img class="thinkingImg" src="<%= think.img %>" alt="">
        <div class="thinkingCopy">
            <div>
            <h2 class="regularHL rosaText">
                <%= think.headline %>
            </h2>
            <h2 class="regularHL rosaText">
                <%= think.episode %>
            </h2>
            <h2 class="regularHL rosaText">
                <%= think.titleEP %>
            </h2>
        </div>
            <div>
                <p class="rosaText">
                    <%= think.category %><span class="rosaText">
                            <%= think.date %>
                        </span>
                </p>
            </div>
        </div>
        <img class="arrow" src="assets/img/arrow.svg" alt="">
    </div>
    <% }) %>